<h1 id="honbun">ユーザー登録<%= '：エラー' unless error_messages_for('user').blank? %></h1>
<% if error_messages_for('user').blank? %>
<p>みんなのICTのユーザー登録を行うと「要約筆記依頼サービス」「遠隔点字印刷サービス」のサービスを利用することができます。</p>
<h2>ユーザー登録の流れ</h2>
<p><span class="fNum">1.</span>「<%= link_to '利用規約', '../rule/' %>」をお読みください。</p>
<p><span class="fNum">2.</span>下記「登録ユーザー情報」欄に、登録したいEメールアドレスとご希望のパスワード（半角英数のみ、6文字以上）を入力します。</p>
<p><span class="fNum">3.</span>利用規約の内容を確認し、「利用規約に同意してユーザー登録をする」ボタンを押します。</p>
<p>
  <span class="fNum">4.</span>
  みんなのICT事務局からユーザー仮登録の通知として、件名「ユーザー仮登録完了のお知らせ」のEメールが届きます。本文に記載のURLをクリックし、
  「ユーザー登録が完了しました」の画面が表示されれば、ユーザー登録完了です。
</p>
<% else %>
エラー内容を確認し、入力情報を修正後、「利用規約に同意してユーザー登録をする」ボタンを押してください。
<%= error_messages_for 'user' %>
<% end %>

<% form_tag :controller => 'users', :action => 'create' do -%>
<!-- ログイン情報入力フォームの表示  -->
<h2>登録ユーザー情報</h2>
<% fields_for :user do |f| %>
<table class="col">
  <tr>
    <th><label for="email">Eメール<span class="tCaution">(必須)</span></label></th>
    <td>
      <%= f.text_field :email, :id => "email", :style => "ime-mode: disabled;", :size => "30", :type => 'email',:class=>"textB ascii", :required => "required" %>
    </td>
  </tr>
  <tr>
    <th><label for="password">パスワード<span class="tCaution">(必須)</span></label></th>
    <td>
      <span class="fSmall tCaution">半角英数字6文字以上</span><br />
      <%= f.password_field 'password', :id => 'password', :size => "10", :style => "ime-mode: disabled;",
      :class => "textC ascii", :required => "required" %>
    </td>
  </tr>
</table>
<% end -%>

<p><%= link_to '利用規約', '/use/rule/' %></p>
<p><%= submit_tag '利用規約に同意してユーザー登録をする', :name => 'next' %></p>
<% end -%>
