<% form_tag :controller=>'contactus',:action => 'create' do -%>
  <%= render :partial => 'hidden' %>
<h1>CONTACT&nbsp;US</h1>
<div class="spacer"></div>
<div><%= image_tag 'braille_icon.gif', :alt =>'メールによるお問い合わせ'%>&nbsp;<b>メールによるお問い合わせ</b></div>
<div class="margintopArea">入力内容を確認し、「送信する」ボタンをクリックして下さい。みんなのICT事務局にメールが送信されます。</div>
<div class="spacer"></div>

<div>
  <table class='tableArea formtableWidth'>
    <tr>
      <td class="captiontableArea">名前</td>
      <td class="formtableArea"><%= h params[:contactus]['name'] %></td>
    </tr>
    <tr>
      <td class="captiontableArea">メールアドレス</td>
      <td class="formtableArea"><%= h params[:contactus]['email'] %></td>
    </tr>
    <tr>
      <td class="captiontableArea">件名</td>
      <td class="formtableArea"><%= h params[:contactus]['subject'] %></td>
    </tr>
    <tr>
      <td class="captiontableArea">本文</td>
      <td class="formtableArea"><%= hbr(params[:contactus]['content']) %></td>
    </tr>
  </table>
</div>
<div class="margintopArea">
  <div class="divLeft">
    <%= submit_tag 'メールを送信する', :name => 'next_page' %>
    <% end -%>
  <% form_tag({:action => 'confirm'},{:method => :put}) do -%>
  </div>

  <div>
    <%= render :partial => 'hidden' %>
    <%= submit_tag '前画面に戻る', :name => 'back_page' %>
    <% end -%>
  </div>
</div>