<h1>CONTACT&nbsp;US</h1> 
<div class="spacer"></div>
<div><%= image_tag 'braille_icon.gif', :alt =>'メールによるお問い合わせ'%>&nbsp;<b>メールによるお問い合わせ</b></div>
<div class="margintopArea">以下のフォームを入力してください。みんなのICT事務局にメールが送信されます。</div>
<div class="margintopArea"><strong>*</strong>が付いている項目は必須項目です。</div>
<div class="spacer"></div>
<%= flash[:error] %>
<% form_tag({:action => 'confirm'},{:method => :put}) do -%>
<% fields_for :contactus do |f| %>
<div class="margintopArea">
  <table class='tableArea formtableWidth'>
    <tr>
      <td class="captiontableArea"><strong>*</strong>名前</td>
      <td class="formtableArea"><%= f.text_field 'name', :size=> 64, :maxlength=>100, :value => @name %></td>
    </tr>
    <tr>
      <td class="captiontableArea"><strong>*</strong>メールアドレス</td>
      <td class="formtableArea"><%= f.text_field 'email', :size=> 64, :maxlength=>100, :value => @email %></td>
    </tr>
    <tr>
      <td class="captiontableArea">件名</td>
      <td class="formtableArea"><%= f.text_field 'subject', :size=> 64, :maxlength=>100, :value => @subject %></td>
    </tr>
    <tr>
      <td class="captiontableArea"><strong>*</strong>本文</td>
      <td class="formtableArea"><%= f.text_area :content, :rows =>10, :cols =>64, :value => @content %></td>
    </tr>
  </table>
</div>
<div class="margintopArea"><%= submit_tag '確認画面へ進む', :name => 'next_page' %></div>
<% end -%>
<% end -%>