<div class="marginAreah">
  <div CLASS="divLeft iconWidth"><%= image_tag 'rainman_icon.gif', :alt =>'発達障害児のための時間管理支援ソフトRAINMAN' %></div>
  <div>
    <div class="marginArea"><%= link_to('時間管理が苦手な子どもの支援ツールRAINMAN','/rainman/')%></div>
    <div class="marginArea">直感的なスケジュール管理を支援します。</div>
  </div>  
</div>
<div class="spacer"></div>
<div class="marginAreah">
  <div CLASS="divLeft iconWidth"><%= image_tag 'braille_icon.gif', :alt =>'遠隔点字印刷サービス' %></div>
  <div>
    <div class="marginArea"><%= link_to('遠隔点字印刷サービス','/braille_print/braille')%></div>
    <div class="marginArea">インターネットから点字印刷を依頼することができます。</div>
  </div>
</div>
<div class="spacer"></div>
<div class="marginAreah">
  <div CLASS="divLeft iconWidth"><%= image_tag 'remotecaption_icon.gif', :alt =>'インターネット要約筆記依頼サービス' %></div>
  <div>
    <div class="marginArea"><%= link_to('インターネット要約筆記依頼サービス','/ict4e_remotecaption')%></div>
    <div class="marginArea">インターネットから要約筆記を依頼することができます。</div>
  </div>
</div>
