<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag('common') %>
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'jquery_blockUI' %>
    <%= javascript_include_tag 'application' %>
    <%= yield :html_header %>
    <title>みんなのICT - <%=@title%></title>
  </head>
  <body>
    <div id="page">
      <div id="headerArea">
        <div class="divLeft">
          <%= link_to(image_tag('header_logo.gif', :alt =>'ロゴ画像',:border=>0),select_master_data('ict4e_url',:first)) %>
        </div>
      </div>
      <div CLASS="clearDiv"></div>
      <div CLASS="spacer"></div>
      <div class="divLeft">
        <%= link_to 'トップ', select_master_data('ict4e_url',:first) %>&nbsp;&#62;&nbsp;<%= @title %>
      </div>
      <div class="textRight">
        <% unless current_user.blank? %>
          <b><%= current_user.email  %></b>でログイン中&nbsp;|&nbsp;<%= link_to 'ログアウト',logout_path %>
        <% end %>
      </div>
      <div CLASS="clearDiv"></div>
      <hr/>
      <div CLASS="spacer"></div>
      <div id="contentArea">
        <%= yield %>
      </div>
      <div CLASS="clearDiv"></div>
      <div CLASS="spacer"></div>
      <div>
        |&nbsp;<%= link_to 'プライバシーポリシー', select_master_data('ict4e_url',:first)+'privacy.html'%>&nbsp;
        |&nbsp;<%= link_to '著作権・リンク等', select_master_data('ict4e_url',:first)+'link.html'%>&nbsp;
        |
      </div>
      <hr/>
      <div id="footerArea">
        <div CLASS="divLeft"><%= link_to(image_tag('ict4_logo.gif', :alt =>'ロゴ画像',:border=>0),select_master_data('ict4e_url',:first)) %></div>
        <div><%= link_to(image_tag('contact_us.gif', :alt =>'お問い合わせはこちら',:border=>0),:controller => 'contactus') %></div>
      </div>
    </div>
  </body>
</html>
